body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
.navbar {
	background-color: #00004d;
	height: 70px;
}
.inner-nav {
	list-style: none;
	margin-right: 100px;
  	font-weight: normal;
	margin-left: 1070px;
}
.inner-nav li {
	display: inline-block;
	font-size: 15px;
	 padding-bottom: 3px;
	 text-decoration: none;
	 margin-top: 25px;
	 margin-right:20px;
	 
}
.inner-nav a:link {
	text-decoration: none;
	color: grey;
} 
.inner-nav a:hover:not(.active) {
	color: white;
	text-decoration: none;
}
.navbar h4 {
    margin-top: 25px;
    font-weight: normal;
	float: left;
	color:white;
	margin-left: 100px;
}
.midcontent {
	margin-top: 30px;
	height: 420px;
	display: inline-block;
	position: relative;
}
.midcontent .container{
  margin-left: 100px;	
}	
.midcontent .image {
	float: left;
	width: 700px;
	height: 400px;
	position: absolute;
}
.midcontent .image img {
	width: 900px;
	height: 400px;
	
}
.midcontent .text {
	width: 300px;
	float: right;
	position: absolute;
	margin-left: 930px;	
	 
}
.midcontent .text p {
	width: 300px;
	margin: 0px;
	padding-bottom: 15px;
}
.midcontent .text button {
	color: white;
	background-color: blue;
	border: 1px solid;
	border-radius: 5px;
	height: 40px;
	width: 140px;
}
.midline .container {
	margin-left: 100px;
}
.midline .bar{
	width: 1300px;
	height: 70px;
	background-color: grey;
	position: relative;
	display: block;
	border-radius: 5px;
	text-align: center;
	padding-top: 20px;
	color:white;
}
.onetwothree {
	height: 300px;
	width: 1200px;
	margin-top: 30px;
	display: inline-block;
	position: relative;
	}
	.onetwothree .container {
	margin-left: 100px;
	}

.onetwothree .borderone {
	height: 220px;
	width: 300px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding-right: 5px;
}
.onetwothree .borderone h2, p{ 
	margin-left: 10px;
}
.onetwothree .bordertwo { 
	border: 1px solid lightgrey;
	height: 55px;	
	padding-top: 10px;
	padding-left: 15px;
	width: 290px;
	height: 55px;
	border-radius: 3px;
}
.onetwothree .bordertwo button {
	border: 1px solid white;
	border-radius: 5px;
	background-color: blue;
	color:white;
	height: 30px;
	width: 100px;
}
.onetwothree .firstone {
	float: left;
	position: absolute;
}
.onetwothree .secondone{
	float: right;
	position: absolute;
	margin-left: 496px;
}
.onetwothree .thirdone {
	float: right;
	position: absolute;
	margin-left: 993px;
}
.footer {
 	height: 100px;
 	margin: 0;
}

.footer .bottombar {
	height: 70px;
	background-color: #00004d;
	text-align: center;
	padding-top: 20px;
	color:white;
}